header {
    align-items: center;
    background-image: linear-gradient( rgb(74, 45, 177), rgb(55, 0, 255));
    color: white;
    font-size: 30px;
}

label {
    font-size: 32px;
    font-weight: bold;
}